
.maintext {
	@include space();
	@include font-settings();
	background-color: $primary-bgcolor;
}

header {
	@include space();
	@include font-settings($color: $secondary-font-color, $family: $primary-font-family);
}

#container {
    background-color: $secondary-bgcolor;
    display: grid;
    grid-template-columns: lfr;
    grid-template-areas: 
        "main-nav"
        "main"
        "projects"
        "footer";
    justify-items: center;
}

#main {
    grid-area: main;
}

#projects {
    grid-area: projects;
}

#main-image {
	@include space();
    @include font-settings();
    grid-area: mid-image;
    top: 285px;
    left: 20px;
}

a {
	@include font-settings();
}

img {
	@include space($margin: 0);
}

h1 {
    color: rgb(29, 170, 220);
}

a:hover {
    color: rgb(29, 170, 220);
}

#filler {
    background-color: black; 
    width: 100%; 
    height: 100px;
    display: none;
    @include mobile {
        display: block;
    }
}